<div id="contact-list" class="contact-list">
    <ul>
        <li class="view-contact-header">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-2">
                        First Name
                    </div>
                    <div class="col-sm-1">
                        M.I.
                    </div>
                    <div class="col-sm-3">
                        Last Name
                    </div>
                    <div class="col-sm-3">
                        Phone #
                    </div>
                    <div class="col-sm-2">
                        Relation
                    </div>
                </div>
            </div>
        </li>
        <li class="view-contact-header">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
        </li>
        <li class="view-contact-header">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
        </li>
        <br>
        {% if contacts %}
            {% for contact in contacts %}

                <li class="view-contact-item">
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-2 contact-list-field">
                                    {{ contact.firstName }}
                                </div>
                                <div class="col-sm-1 contact-list-field">
                                    {{ contact.middleInitial }}
                                </div>
                                <div class="col-sm-3 contact-list-field">
                                    {{ contact.lastName }}
                                </div>
                                <div class="col-sm-3 contact-list-field">
                                    {{ contact.phoneNumber }}
                                </div>
                                <div class="col-sm-2 contact-list-field">
                                    {{ contact.get_relation_display }}
                                </div>
                            </div>
                            <div class="sep-solid-grey" style=""></div>
                            <div class="row">
                                <div class="col-sm-10 contact-list-field">
                                    {{ contact.street }} {{ contact.city }}, {{ contact.state }}, {{ contact.zipcode }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 contact-list-field">
                            <a href="javascript:;" popup="edit-contact-popup" username="{{ hnuser.user.username }}"
                               class="contact-list-edit-button jpop" contactid="{{ contact.id }}">Edit</a>
                            <a href="javascript:;" username="{{ hnuser.user.username }}" popup="delete-contact-confirm-popup"
                            contactid="{{ contact.id }}" class="contact-list-delete-button jpop">Delete</a>
                        </div>
                        <div id="contact-delete-info" username="" contactid=""></div>
                    </div>
                </li>

            {% endfor %}
        {% else %}
            <li class="view-contact-item">
                <div class="row">
                    <div class="col-sm-12 contact-list-field">
                        You have no contacts
                    </div>
                </div>
            </li>
        {% endif %}
    </ul>
</div>
