<div class="profile-pane hide" id="profile-messages-pane">
    <div class="info-bubble animate-from-bottom">
        <h1>Inbox:</h1>
        {% for message in received_messages %}
        <div class="row message">
            <div id="message-sender">
                <h3>{{ message.sender.get_accountType_display }}</h3>

                <h1>{{ message.sender.contact.firstName }}</h1>
                <h1>{{ message.sender.contact.lastName }}</h1>
            </div>
            <div id="message-preview">
                {{ message.body }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
