<div class="profile-pane hide" id="msg-tools">
  <div class="info-bubble animate-from-bottom" style="padding: 2px; padding-top: 4px; padding-bottom: 4px;">
    <div id="message-toolbar">
      <a href="javascript:;" id="new-message-button" username="{{ hnuser.user.username }}"
      class="jpop center" popup="new-message-popup">
        <div class="profile-quick-link-button" id="new-message-btn">
          <i class="fa fa-comment"></i><p>Compose Message</p>
        </div>
      </a>
    </div>
  </div>
</div>
