<div class="profile-pane hide" id="cal-tools">
  <div class="info-bubble animate-from-bottom" style="padding: 2px; padding-top: 4px; padding-bottom: 4px;">
    <div id="calendar-toolbar">
      <a href="javascript:;" id="create-appointment-button" username="{{ hnuser.user.username }}"
      class="jpop center" popup="create-appointment-popup">
        <div class="profile-quick-link-button" id="create-appointment-btn">
          <i class="fa fa-plus"></i><p>Create Appointment</p>
        </div>
      </a>
    </div>
  </div>
</div>
