<div class="col-sm-4 col-sm-push-8">
  <!-- Profile Picture -->
  {% include "profiles/module_profile_picture.html" %}
  <!-- End Profile Picture -->
</div>
<div class="col-sm-8 col-sm-pull-4">
</div>
