<div id="peek-username" username="{{hnuser.user.username}}"></div>
<div class="col-sm-4 col-sm-push-8">
  <!-- Profile Picture -->
  <div id="patient-peek-picture">
  {% include "profiles/module_profile_picture.html" %}
  </div>
  <!-- End Profile Picture -->
</div>
<div class="col-sm-8 col-sm-pull-4">
  <!-- Profile Picture -->
  {% include "profiles/module_patient_peek_tabbed.html" %}
  <!-- End Profile Picture -->
</div>
