<!--
  patientprofile.html
  ==============================================================================

  This template shows a patient's profile.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include the global CSS, JS, etc. links -->
    {% include "includes/headlinks.html" %}
    <link rel="stylesheet" type="text/css" href="/static/css/profiles.css"/>
    <script src="/static/js/ProfileViewSwap.js"></script>
    <script src="/static/js/BasicInfoEdit.js"></script>
    <script src="/static/js/ContactScripts.js"></script>
    <script src="/static/js/AppointmentScripts.js"></script>
    <script src="/static/js/PatientTutorial.js"></script>
    <link rel="stylesheet" href="/static/css/messaging.css">
    <link rel="stylesheet" href="/static/SwagTimePicker/SwagTimePicker.css">
    <script src="/static/SwagTimePicker/SwagTimePicker.js"></script>

    <title>HealthNet - {{ hnuser.user.username }}</title>
</head>

<body id="profile-body">

<!-- Include the global page header -->
{% include "includes/header.html" %}

<!-- Include the page sidebar -->
{% include "includes/sidebar.html" %}

<!-- Notifications -->
{% include "profiles/module_notifications.html" %}
<!-- End Notifications -->

<!-- This is where the unique content for each page goes -->
<div class="content">
    <div id="username-holder" username="{{ hnuser.user.username }}"></div>

    <!-- Patient Profile Content -->
    <div class="profile-content">

      <div class="row" id="peek-row">
      </div>

        <div class="row" id="row-id-1">

            <!-- Right Column -->
            <div class="col-sm-4 col-sm-push-8" id="profile-right-column">
                <!-- columns backwards for mobile/resizing purposes -->

                <!-- Message Toolbar -->
                {%  include "profiles/module_messages_toolbar.html" %}

                <div class="edit-form" id="new-message-popup" width="50%" height="90%" style="display: none;"
                     jpoptitle="New Message" mtrigger="951">
                    <div class="edit-form-inner">
                        <form id="new-message-popup-form" class="center" action="" method="post">
                            {% csrf_token %}
                            <div id="new-message-content"></div>
                            <div class="edit-submit">
                                <input id="message-send" type="submit" value="Send"
                                       class="button-gradient-red submit-btn">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Message Toolbar -->

                <!-- Message Contacts -->
                {% include "profiles/module_message_contacts.html" %}
                <!-- End Message Contacts -->

                <!-- Profile Picture -->
                {% include "profiles/module_profile_picture.html" %}
                <!-- End Profile Picture -->

                <!-- Calendar Toolbar -->
                {% include "profiles/module_calendar_toolbar.html" %}

                <!-- Create Appointment JPop -->
                <div class="edit-form" id="create-appointment-popup" width="50%" height="90%" style="display: none;"
                     jpoptitle="Create Appointment" mtrigger="951">
                    <div class="edit-form-inner">
                        <form id="create-appointment-popup-form" class="center" action="" method="post">
                            {% csrf_token %}
                            <div id="create-appointment-content"></div>
                            <div class="edit-submit">
                                <input id="create-appointment-submit" type="submit" value="Create"
                                       class="button-gradient-red submit-btn">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Create Appointment JPop -->
                <!-- End Calendar Toolbar -->

                <!-- Day Calendar -->
                {% include "profiles/module_day_calendar.html" %}
                <!-- End Day Calendar -->

            </div>
            <!-- End Right Column -->

            <!-- Left Column -->
            <div class="col-sm-8 col-sm-pull-4" id="profile-left-column">

                <!-- Patient Basic Info -->
                {% include "profiles/module_basic_info_tabbed.html" %}
                <!-- End Patient Basic Info -->

                <!-- Medical Pane -->
                {% include "profiles/module_medical_info.html" %}
                <!-- End Medical Pane -->

                <!-- Messages Pane -->
                {% include "profiles/module_messages.html" %}
                <!-- End Messages Pane -->

                <!-- Main Calendar -->
                {% include "profiles/module_main_calendar.html" %}

                <div id="delete-appointment-info" username="" pk=""></div>

                <!-- View Appointment JPop -->
                <div class="jpop" id="view-appointment-clicker" popup="view-appointment-popup"></div>
                <div id="view-appointment-popup" width="50%" height="90%" jpoptitle="View Appointment" mtrigger="815">
                    <div id="view-appointment-content"></div>
                </div>
                <!-- End View Appointment JPop -->

                <!-- Delete Appointment Confirm JPop -->
                <div class="edit-form" id="delete-appointment-confirm-popup" width="50%" style="display: none;">
                    <div class="edit-form-inner">
                        <h2>Are you sure you want to cancel this appointment?</h2>

                        <form class="center" action="" method="post">
                            <div class="edit-submit">
                                <a href="javascript:;" id="delete-appointment-yes">
                                    <input type="submit" class="button-gradient-red" value="Yes">
                                </a>
                                <a style="margin-left: 10px;" href="javascript:;" id="delete-appointment-no">
                                    <input type="submit" class="button-gradient-red" value="No">
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Delete Appointment Confirm JPop -->
                <!-- End Main Calendar -->

            </div>
            <!-- End Left Column -->
        </div>

        <!-- View Contacts -->
        <div id="contacts-pane">
            {% include "profiles/module_contacts.html" %}
        </div>
        <!-- End View Contacts -->

    </div>
    <!-- End Profile Content -->
</div>
<!-- End content -->

<div id="tutorial0" style="display: none;" divtitle="Welcome to your HealthNet Profile!">
    <div class="text-center">
        <p>This is your new patient profile page where you have access to all of the HealthNet features you need.</p>

        <p>This short tutorial will walk you through these features to get you going with HealthNet.</p>

        <p>NOTE: This tutorial is not complete at this point and ends here.</p>
    </div>
    <div class="center" style="width: 170px;">
        <input type="submit" value="Continue" class="button-gradient-red" id="tutorial0-continue">
    </div>
</div>

<!-- General Document Script -->
<script>
    document.getElementById('profile-body').style.overflow = "hidden";
    setTimeout(function () {
        document.getElementById('profile-body').style.overflow = "auto";
    }, 400);
</script>
<!-- End General Document Script -->

<!-- Profile tutorial script -->
{% if not hnuser.shownTutorial %}
    <script>
        $(document).ready(function () {
            setupPatientTutorial();
        });
    </script>
{% endif %}
<!-- End Profile tutorial script -->

</body>
</html>
