<!--
  page-frame.html
  ==============================================================================

  This file can be used as a general skeleton to start with when making a new
  template.
 -->

<html>

  <head>
    <!-- Include the global CSS, JS, etc. links -->
    {% include "includes/headlinks.html" %}

    <title></title>
  </head>

  <body>

    <!-- Include the global page header -->
    {% include "includes/header.html" %}

    <!-- This is where the unique content for each page goes -->
    <div class="content">
      <div class="edit-form" id="edit-form">
        <div class="info-bubble edit-form-inner">
          <form action="/ui" method="post" name="indexform">
            {% csrf_token %}
            <input type="text" id="patient" name="username">
            <input type="submit" id="submit" value="Search">
          </form>
        </div>
      </div>
      <div class="edit-form" id="edit-form">
        <div class="info-bubble edit-form-inner" id="results">
          <h1>Patient:</h1>
        </div>
      </div>

    </div>
    <!-- End content -->

  </body>

  <script>
  var text = $('#patient');
  var submit = $('#submit');
  var token = $('input[name=\"csrfmiddlewaretoken\"]');

  submit.click(function(e) {
    e.preventDefault();

    $.ajax({
        url : "/ui",
        type : "POST",
        data : {
          client_response : "",
          csrfmiddlewaretoken: token.val(),
          username: text.val()
        },
        success: function(data) {
          $('#results').html(data.html);
        },
        error: function(jqXHR, textStatus, errorThrown) {
          alert("Fail");
        }
      });
  });
  </script>

</html>
