<div class="edit-form" id="view-appointment-container">
  <div class="edit-form-inner">
    {% csrf_token %}
    <div class="row view-contact-item">
      <div class="col-sm-12">
        <h3>Appointment Title</h3>
        <p>{{ appointment.title }}</p>
      </div>
    </div>
    <div class="row view-contact-item">
      <div class="col-sm-6 ">
        <h3>Start Date & Time</h3>
        <p>{{ appointment.startDate }} {{ appointment.startTime }}</p>
      </div>
      <div class="col-sm-6">
        <h3>End Date & Time</h3>
        <p>{{ appointment.endDate }} {{ appointment.endTime }}</p>
      </div>
    </div>
    <div class="row view-contact-item">
      <div class="col-sm-6">
        <h3>Patient</h3>
        <p>{{ patientContact.firstName }} {{ patientContact.middleInitial }} {{ patientContact.lastName }}</p>
      </div>
      <div class="col-sm-6">
        <h3>Doctor</h3>
        <p>{{ doctorContact.firstName }} {{ doctorContact.middleInitial }} {{ doctorContact.lastName }}</p>
      </div>
    </div>
    <div class="row view-contact-item">
      <div class="col-sm-6">
        <h3>Hospital</h3>
        <p>{{ appointment.hospital }}</p>
      </div>
      <div class="col-sm-6">
        <h3>Room</h3>
        <p>{{ appointment.room }}</p>
      </div>
    </div>
    <div class="row view-contact-item">
      <div class="col-sm-12">
        <h3>Reason</h3>
        <p>{{ appointment.reason }}</p>
      </div>
    </div>
  </div>
  <div class="edit-submit">
    <a href="javascript:;" id="edit-appointment-button">
      <input type="submit" class="button-gradient-red" value="Edit">
    </a>
    <a style="margin-left: 10px;" href="javascript:;" id="delete-appointment-button" popup="delete-appointment-confirm-popup">
      <input type="submit" class="button-gradient-red jpop" value="Delete">
    </a>
  </div>
</div>
