<div class="edit-form" id="edit-appointment-content">
  <div class="edit-form-inner">
    <form id="edit-appointment-form" class="center" action="" method="post">
      <div id="edit-appointment-content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-label">{{ form.title.label_tag }}</div>
                  <div class="form-field">{{ form.title }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label class="form-label" for="startDate">Date</label>
                  <input class="form-field" type="text" id="edit-datepicker" name="startDate" placeholder="ex. 2015-12-31" class="jval">
                </div>
                <div class="col-sm-6">
                  <div style="width: 220px; margin: 0 auto 0 0px;">
                  <label class="form-label" for="startTime">Time</label>
                  <input class="form-field" type="hidden" id="edit-start-time-input" name="startTime">
                  <div style="width: 220px; margin: 0 auto 20px auto; height: 40px;">
                    <div id="edit-start-time" class="swag-tp stp-height-40" inputId="edit-start-time-input" style="z-index: 8;">
                      <div class="swag-tp-header">
                        <div class="swag-tp-time">
                          <h2 class="swag-tp-h swag-tp-active">12</h2><h2 class="swag-tp-active">:</h2><h2 class="swag-tp-m swag-tp-ampm-active">00</h2>
                          <div class="swag-tp-ampm"><h3 class="swag-tp-am">am</h3><h3 class="swag-tp-pm swag-tp-ampm-active">pm</h3></div>
                        </div>
                      </div>
                      <div class="swag-tp-content stp-content-hidden">
                        <div class="swag-tp-clock">
                          <div class="swag-tp-clock-hours">
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-360">12</div></div>
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-30">1</div></div>
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-60">2</div></div>
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-90">3</div></div>
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-120">4</div></div>
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-150">5</div></div>
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-180">6</div></div>
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-210">7</div></div>
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-240">8</div></div>
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-270">9</div></div>
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-300">10</div></div>
                            <div class="swag-tp-hour-wrapper"><div class="swag-tp-hour swag-tp-330">11</div></div>
                            <div class="swag-tp-hour-wrapper"><i class="swag-tp-dot fa fa-circle"></i></div>
                          </div>
                          <div class="swag-tp-clock-minutes">
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-360">00</div></div>
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-30">05</div></div>
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-60">10</div></div>
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-90">15</div></div>
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-120">20</div></div>
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-150">25</div></div>
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-180">30</div></div>
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-210">35</div></div>
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-240">40</div></div>
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-270">45</div></div>
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-300">50</div></div>
                            <div class="swag-tp-minute-wrapper"><div class="swag-tp-minute swag-tp-330">55</div></div>
                            <div class="swag-tp-minute-wrapper"><i class="swag-tp-dot fa fa-circle"></i></div>
                          </div>
                        </div>
                        <div class="swag-tp-controls">
                          <div class="swag-tp-ok">Ok</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-label">{{ form.patient.label_tag }}</div>
                  <select name="patient" required>
                    <option value="">---------</options>
                    {% for patient in patients %}
                    {% if patient.user.pk ==  appointment.patient.pk %}
                    <option selected value="{{ patient.user.pk }}">{{ patient.firstName }} {{ patient.lastName }}</options>
                    {% else %}
                    <option value="{{ patient.user.pk }}">{{ patient.firstName }} {{ patient.lastName }}</options>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-sm-6">
                  <div class="form-label">{{ form.doctor.label_tag }}</div>
                  <select name="doctor" required>
                    <option value="">---------</options>
                    {% for doctor in doctors %}
                    {% if doctor.user.pk == appointment.doctor.pk %}
                    <option selected value="{{ doctor.user.pk }}">Dr. {{ doctor.firstName }} {{ doctor.lastName }}</options>
                    {% else %}
                    <option value="{{ doctor.user.pk }}">{{ doctor.firstName }} {{ doctor.lastName }}</options>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-label">{{ form.hospital.label_tag }}</div>
                  <select name="hospital" required>
                    <option value="">---------</options>
                    {% for hospital in hospitals %}
                    {% if hospital.pk ==  appointment.hospital.pk %}
                    <option selected value="{{ hospital.pk }}">{{ hospital.name }}</options>
                    {% else %}
                    <option value="{{ hospital.pk }}">{{ hospital.name }}</options>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-sm-6">
                  <div class="form-label">{{ form.room.label_tag }}</div>
                  <div class="form-field">{{ form.room }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-label">{{ form.reason.label_tag }}</div>
                  <div class="form-field">{{ form.reason }}</div>
                </div>
              </div>
            </div>
            <div class="edit-submit">
              <input id="appointment-edit-submit" type="submit" value="Save" class="button-gradient-red submit-btn">
            </div>
          </form>
        </div>
      </div>

<script>
initSwagTp("edit-start-time");
var stime = "{{ startTime }}";
var shour = stime.substring(0, stime.indexOf(':'));
var smin = stime.substring(stime.indexOf(':') + 1, stime.indexOf(' '));
var speriod = stime.substring(stime.indexOf(' ') + 1, stime.length);

var spicker = document.getElementById("edit-start-time");

var scurrentHour = spicker.getElementsByClassName("swag-tp-h");
var scurrentMinute = spicker.getElementsByClassName("swag-tp-m");

scurrentHour[0].innerHTML = shour;
scurrentMinute[0].innerHTML = smin;

var sam = spicker.getElementsByClassName("swag-tp-am");
var spm = spicker.getElementsByClassName("swag-tp-pm");

if (speriod == "AM") {
  if (sam[0].hasAttribute("active")) {
    if (sam[0].getAttribute("active") === "false") {
      sam[0].setAttribute("active", "true");
      sam[0].classList.add("swag-tp-ampm-active");
      spm[0].setAttribute("active", "false");
      spm[0].classList.remove("swag-tp-ampm-active");
    }
  }
}
else if (speriod == "PM") {
  if (spm[0].hasAttribute("active")) {
    if (spm[0].getAttribute("active") === "false") {
      spm[0].setAttribute("active", "true");
      spm[0].classList.add("swag-tp-ampm-active");
      sam[0].setAttribute("active", "false");
      sam[0].classList.remove("swag-tp-ampm-active");
    }
  }
}
document.getElementById('edit-start-time-input').value = "{{ startTime }}";

var startMonth = parseInt({{ startDate.month }});
var startDay = parseInt({{ startDate.day }});

var startYearStr = {{ startDate.year }};
var startMonthStr = {{ startDate.month }};
var startDayStr = {{ startDate.day }};

if (startMonth < 10) {
  startMonthStr = "0" + String(startMonth);
}

if (startDay < 10) {
  startDayStr = "0" + String(startDay);
}

document.getElementById('edit-datepicker').value = startYearStr + "-" + startMonthStr + "-" + startDayStr;

$(function() {
  $( "#edit-datepicker" ).datepicker({
    yearRange: "1910:2016",
    changeMonth: true,
    changeYear: true,
    dateFormat: "yy-mm-dd"
  });
});
</script>
