@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tabs section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tabs input.tabs-input {
  display: none;
}

.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tabs label[for*='1']:before {
  content: '\f007';
}

.tabs label[for*='2']:before {
  content: '\f0f8';
}

.tabs label[for*='3']:before {
  content: '\f21e';
}

.tabs label[for*='4']:before {
  content: '\f095';
}

.tabs label:hover {
  color: #888;
  cursor: pointer;
}

.tabs input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #D22121;
  border-bottom: 1px solid #fff;
}

.tabs #tab1:checked ~ #basic-info-tab,
.tabs #tab2:checked ~ #medical-info-tab,
.tabs #tab3:checked ~ #peek-medical-info-tab,
.tabs #tab4:checked ~ #peek-contacts-tab {
  display: block;
}

@media screen and (max-width: 650px) {
  .tabs label {
    font-size: 0;
  }

  .tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .tabs label {
    padding: 15px;
  }
}
