.messagecontact {
    background-color: #eeecec;
    border-bottom: 2px solid #d5d4d4;
    border-right: 1px solid #d5d4d4;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10 px;
}

.messagecontact:hover {
    background-color: #b82424;
}

.messagecontact #search-result-name h1 {
    font-size: 16pt;
}

.messagecontact #search-result-name h3 {
    font-size: 14pt;
}
