/*
  HealthNet CSS Styles
  ==============================================================================

  Header
  Index Login
  Profile

*/
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*
  Animations
*/

/*
  ====================================================================== Header
*/
header.main-header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    z-index: 100;

    -webkit-box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.75);
}

header.main-header img {
    position: absolute;
    top: 10px;
    left: 10px;
}

#logout-link {
    position: absolute;
    top: 22px;
    right: 100px;
    font-weight: bold;
}

/*
  ================================================================= Index Login
*/
.index-login {
    width: 400px;
    margin: 0 auto 0 auto;
    margin-top: 8%;
    z-index: 2;
}

.index-login-inner {
    width: 80%;
    height: auto;
    margin: 20px auto 20px auto;
    padding: 20px;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
}

#box-message {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.index-login form {
    height: auto;
}

input[type="text"] {
    width: 234px;
}

input[type="password"] {
    width: 234px;
}

input[type="email"] {
    width: 234px;
}

input[type="submit"] {
    width: 100%;
}

/*
  =============================================================== Profile
*/

.day-inner {
    width: 90%;
    height: 580px;
    margin: 20px auto 20px auto;
    padding: 20px;

    -webkit-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
}

.cal-block {
    width: auto;
    margin-top: 10px;
    z-index: 1;

    animation-name: in-from-bottom;
    animation-duration: 1.2s;
    -webkit-animation-name: in-from-bottom;
    -webkit-animation-duration: 1.2s;
    -moz-animation-name: in-from-bottom;
    -moz-animation-duration: 1.2s;
    -o-animation-name: in-from-bottom;
    -o-animation-duration: 1.2s;
}

#calendar-col {
  padding: 0 20px 0 20px;
}

.cal-block-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 15px;
    z-index: 1;

    animation-name: in-from-bottom;
    animation-duration: 1.2s;
    -webkit-animation-name: in-from-bottom;
    -webkit-animation-duration: 1.2s;
    -moz-animation-name: in-from-bottom;
    -moz-animation-duration: 1.2s;
    -o-animation-name: in-from-bottom;
    -o-animation-duration: 1.2s;
}

.cal-inner {
    width: 100%;
    height: auto;
    margin: 20px auto 20px auto;
    padding: 10px;

    -webkit-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
}

.ui-widget-content {
  border: none;
}

/*
  ================================================================== Edit Forms
*/
.edit-form {
    width: 50%;
    min-width: 400px;
    margin: 0 auto 0 auto;
    padding: 10px;
}

.edit-form-inner {
    margin: 0 auto 0 auto;
    padding: 20px;
    width: 90%;
}

.edit-form label, p, h1, h2 {
    color: #000000;
}

.edit-form h1 {
    text-align: center;
}

.edit-form h2 {
    text-align: center;
    font-weight: bold;
}

.edit-form input {
    width: 100%;
}

.edit-form textarea {
    width: 100%;
    height: 80px;
}

.edit-submit {
    margin: 0 auto 0 auto;
    text-align: center;
}

.edit-form input[type="submit"], button {
    width: 30%;
    text-align: center;
}

#reg-progressbar-wrapper {
  width: 48%;
  padding: 0px;
  height: 43px;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: 3px solid #520D0D;
}

#reg-progressbar {
  background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
  color: #222222;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#249117), to(#5dcd50));
  background-image: -webkit-linear-gradient(top, #249117, #5dcd50);
  background-image: -moz-linear-gradient(top, #249117, #5dcd50);
  background-image: -ms-linear-gradient(top, #249117, #5dcd50);
  background-image: -o-linear-gradient(top, #249117, #5dcd50);
  background-image: linear-gradient(to bottom, #249117, #5dcd50);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#249117, endColorstr=#5dcd50);
  height: 40px;
  width: 0%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom: 2px solid #249117;
}

.progress-label {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #000000;
}

.ui-progressbar-value {
    font-family: 'Ubuntu', sans-serif;
}

.ui-timepicker-wrapper {
    width: 10em;
}

#ui-datepicker-div {
  z-index: 5008 !important;
}

#profile-picture-upload-field {
  text-align: center;
}

#profile-picture-error {
  color: #333333;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;

  opacity: 0;
  transform: scale(0);
}

/*
  =============================================================== view contacts
*/
#contacts-content {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

#contacts-content-inner {
    width: 100%;
    padding-bottom: 10px;
}

#contacts-content-inner ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .contact-list {
        margin: 0 auto 0 auto;
        width: 98%;
    }

    .view-contact-item {
        text-align: center;
        margin-bottom: 10px;
        padding: 6px;
        background-color: #eeeeee;
        border-bottom: 2px solid #d5d5d5;
        font-family: 'Open Sans', sans-serif;
        border-radius: 5px;
    }
}

@media screen and (max-width: 767px) {
    .contact-list {
        margin: 0 auto 0 auto;
        width: 90%;
    }

    .view-contact-header {
        display: none;
    }

    .view-contact-item {
        text-align: center;
        margin-bottom: 20px;
        font-size: 16px;
        padding: 6px;
        background-color: #eeeeee;
        border-bottom: 2px solid #d5d5d5;
        font-family: 'Open Sans', sans-serif;
        border-radius: 15px;
    }
}

.view-contact-header {
    margin-bottom: 0px;
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.contact-list-edit-button {
    background-color: #249117;
    border-bottom: 2px solid #175E0F;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: #ffffff !important;
    margin-right: 10px;
}

.contact-list-delete-button {
    background-color: #D22121;
    border-bottom: 2px solid #911513;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: #ffffff !important;
    margin-top: 10px;
}

.contact-button-del {
    margin: 10px auto 0 auto;
    text-align: center;
}

.contact-buttons {
    margin: auto 0 auto;
    text-align: center;
}

.contact-button {
    width: 50px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

@media screen and (min-width: 959px) {
    .add-contact-button {
        width: 30% !important;
    }
}

@media screen and (max-width: 958px) {
    .add-contact-button {
        width: 80% !important;
    }
}

/*
  =============================================================== Tabs
*/
.ui-tabs-anchor:focus {
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.0);
}

.ui-tabs {
    border-radius: 8px;
}

/*
  =============================================================== Calendar
*/
.fc-content:hover {
  cursor: pointer;
  cursor: hand;
}

.fc-next-button {
    width: 35px;
}

.fc-prev-button {
    width: 35px;
}

.fc-month-button {
    width: 65px;
}

.fc-agendaWeek-button {
    width: 60px;
}

.fc-agendaDay-button {
    width: 55px;
}

.fc-today-button {
    width: 55px;
}

.fc-today {
    background: #E8EDFF url("images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x !important;
}

/*
  =============================================================== Other
*/
