<!--
  header.html
  ==============================================================================

  This file contains the HTML code for the header of every page.
  In this case: the top header bar, and the HealthNet logo.
  This should be included at the top of the body tag of your page.
 -->

<header class="main-header">
  <a href="/"><img class="logo" width="180" height="40" src="/static/images/logo.png"></a>
</header>
<div style="height: 70px;"></div>
