<!--
  headlinks.html
  ==============================================================================

  This contains all of the links to various css and javascript resources.
  It should be included in the head tag of your page.
 -->

{% load staticfiles %}

<!-- JQuery -->
<script src="/static/jquery/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="/static/jquery/jquery-ui.css">
<script src="/static/jquery/jquery-ui.js"></script>
<script src="/static/jquery/jquery.color.plus-names-git.js"></script>
<script src="/static/jquery/jquery.validate.js"></script>
<script src="/static/jquery/additional-methods.js"></script>

<!--qTip jQuery Toolkit-->
<link rel="stylesheet" type="text/css" href="/static/jquery/jquery.qtip.min.css"/>
<script src="/static/jquery/jquery.qtip.min.js"></script>

<!-- Bootsrap Files -->
<link rel="stylesheet" type="text/css" href="/static/bootstrap/bootstrap.min.css"/>
<script src="/static/bootstrap/bootstrap.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.css"/>

<!-- Moment JS -->
<script src='/static/js/moment.min.js'></script>

<!-- Fullcalendar.io -->
<link href='/static/fullcalendar/fullcalendar.css' rel='stylesheet'/>
<link href='/static/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print'/>
<script src='/static/fullcalendar/fullcalendar.min.js'></script>

<!-- JPop -->
<link rel="stylesheet" href="/static/JPop/JPop.css">
<script src="/static/JPop/JPop.js"></script>

<!-- JVal -->
<link rel="stylesheet" href="/static/JVal/JVal.css">
<script src="/static/JVal/JVal.js"></script>

<!-- Custom HealthNet CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/theme.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/healthnettabs.css"/>

<!-- Custom HealthNet JavaScript -->
<script src="/static/js/sidebar.js"></script>
<script src="/static/js/formswitcher.js"></script>
<script src="/static/js/healthnet-script.js"></script>
<script src="/static/js/PeekSearch.js"></script>
<script src="/static/js/MessagingScripts.js"></script>

<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="/static/images/favicon2.png"/>
