/*
  HealthNet CSS Theme
  ==============================================================================

  Body
  Text Styles
  Position Styles
  Sizing Styles
  Decoration Styles
  Form Styles

  Color Scheme:
  White: ffffff
  Grey: d4d4d4
  Main Red: D22121
  Darker Red: A81E1E
  Dark Red: 891818

*/

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*
  ================================================================== Animations
*/
@keyframes fade-grow-in {
    from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}
@-webkit-keyframes fade-grow-in {
    from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}
@-moz-keyframes fade-grow-in {
    from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}
@-o-keyframes fade-grow-in {
    from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}
.fade-grow-in {
    animation:
        fade-grow-in .2s .2s cubic-bezier(0,.8,.32,1.07) forwards;
}

@keyframes fade-grow-out {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}
@-webkit-keyframes fade-grow-out {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}
@-moz-keyframes fade-grow-out {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}
@-o-keyframes fade-grow-out {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}
.fade-grow-out {
    animation: fade-grow-out .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

@keyframes in-from-bottom {
  from { margin-top: 2000px; }
  to { margin-top: 8%; }
}
@-webkit-keyframes in-from-bottom {
  from { margin-top: 2000px; }
  to { margin-top: 8%; }
}
@-moz-keyframes in-from-bottom {
  from { margin-top: 2000px; }
  to { margin-top: 8%; }
}
@-o-keyframes in-from-bottom {
  from { margin-top: 2000px; }
  to { margin-top: 8%; }
}
.animate-from-bottom {
  animation-name: in-from-bottom;
  animation-duration: 1s;
  -webkit-animation-name: in-from-bottom;
  -webkit-animation-duration: 1s;
  -moz-animation-name: in-from-bottom;
  -moz-animation-duration: 1s;
  -o-animation-name: in-from-bottom;
  -o-animation-duration: 1s;
}

@keyframes animate-fade-out {
  from { opacity: 100%; }
  to { opacity: 0%; }
}
@-webkit-keyframes animate-fade-out {
  from { opacity: 100%; }
  to { opacity: 0%; }
}
@-moz-keyframes animate-fade-out {
  from { opacity: 100%; }
  to { opacity: 0%; }
}
@-o-keyframes animate-fade-out {
  from { opacity: 100%; }
  to { opacity: 0%; }
}
.animate-fade-out {

  animation-name: animate-fade-out;
  animation-duration: 5s;
  -webkit-animation-name: animate-fade-out;
  -webkit-animation-duration: 5s;
  -moz-animation-name: animate-fade-out;
  -moz-animation-duration: 5s;
  -o-animation-name: animate-fade-out;
  -o-animation-duration: 5s;
}

/*
  ======================================================================== Body
*/
body {
  background-color: #A81E1E;
}

/*
  ================================================================= Text Styles
*/
h1 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
}

p {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  color: #333333;
}

a {
  margin-bottom: 8px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #D22121;
}

a:hover {
  color: #891818;
}

a:visited {
  color: #891818;
}

a:focus {
  outline-color: #D22121;
  color: #D22121;
}

/*
  ============================================================= Position Styles
*/
.section-div {
    height: 60px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.side-margins-50px {
  margin-left: 50px;
  margin-right: 50px;
}

.side-margins-25px {
  margin-left: 25px;
  margin-right: 25px;
}

.side-margins-10px {
  margin-left: 10px;
  margin-right: 10px;
}

/*
  =============================================================== Sizing Styles
*/
.width-auto {
  width: auto;
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.scale-0 {
  transform: scale(0);
}

.scale-1 {
  transform: scale(1);
}

/*
  =========================================================== Decoration Styles
*/
.underline {
  padding-bottom: 3px;
  border-bottom: 1px solid #000000;
}

.rcorners-5 {
  border-radius: 5px;
}

.rcorners-10 {
  border-radius: 10px;
}

.bg-color-white {
  background-color: #ffffff;
}

.button-gradient-red {
  border:1px solid #a21919; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #D22121; background-image: -webkit-gradient(linear, left top, left bottom, from(#D22121), to(#A81E1E));
  background-image: -webkit-linear-gradient(top, #D22121, #A81E1E);
  background-image: -moz-linear-gradient(top, #D22121, #A81E1E);
  background-image: -ms-linear-gradient(top, #D22121, #A81E1E);
  background-image: -o-linear-gradient(top, #D22121, #A81E1E);
  background-image: linear-gradient(to bottom, #D22121, #A81E1E);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D22121, endColorstr=#A81E1E);
  font-family: 'Ubuntu', sans-serif;
}

.button-gradient-red:hover {
  border:1px solid #7a1313;
  background-color: #a61a1a; background-image: -webkit-gradient(linear, left top, left bottom, from(#a61a1a), to(#7d1616));
  background-image: -webkit-linear-gradient(top, #a61a1a, #7d1616);
  background-image: -moz-linear-gradient(top, #a61a1a, #7d1616);
  background-image: -ms-linear-gradient(top, #a61a1a, #7d1616);
  background-image: -o-linear-gradient(top, #a61a1a, #7d1616);
  background-image: linear-gradient(to bottom, #a61a1a, #7d1616);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a61a1a, endColorstr=#7d1616);
}

.field-icon {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #D22121;
  color: #ffffff;
  padding: 11px;
  margin: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/*
  ================================================================= Form Styles
*/
input[type="text"] {
  font-family: 'Ubuntu', sans-serif;
  background-color: #efefef;
  font-size: 18px;
  height: 40px;
  width: 170px;
  margin: 0 auto 20px auto;
  padding: 3px;
}

input[type="text"]:focus {
  outline-color: #D22121;
}

input[type="password"] {
  font-family: 'Ubuntu', sans-serif;
  background-color: #efefef;
  font-size: 18px;
  height: 40px;
  width: 170px;
  margin: 0 auto 20px auto;
  padding: 3px;
}

input[type="password"]:focus {
  outline-color: #D22121;
}

input[type="email"] {
  font-family: 'Ubuntu', sans-serif;
  background-color: #efefef;
  font-size: 18px;
  height: 40px;
  width: 170px;
  margin: 0 auto 20px auto;
  padding: 3px;
}

input[type="email"]:focus {
  outline-color: #D22121;
}

input[type="submit"] {
  font-family: 'Ubuntu', sans-serif;
  height: 40px;
  width: 170px;
  margin: 20px auto 20px auto;
  padding: 3px;
  font-size: 24px;
}

input[type="submit"]:focus {
  outline-color: #D22121;
}

label {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #666666;
}
